// special font-family
.font-serif {
  font-family: "Noto Serif TC",var(--bs-font-sans-serif);
}

// RWD fs
@include pad {
  @each $number, $size in $font-sizes {
    .fs-md-#{$number} {
      font-size: $size !important;
    }
  }
}
@include wed {
  @each $number, $size in $font-sizes {
    .fs-lg-#{$number} {
      font-size: $size !important;
    }
  }
}
// RWD lh
@include pad {
  .lh-md-lg {
    line-height: $line-height-lg !important;
  }
}
@include wed {
  .lh-lg-lg {
    line-height: $line-height-lg !important;
  }
}