// special font-family
.font-serif {
  font-family: "Noto Serif TC",var(--bs-font-sans-serif);
}

// RWD
@include pad {
  @each $number, $size in $font-sizes {
    .fs-md-#{$number} {
      font-size: $size !important;
    }
  }
}
@include wed {
  @each $number, $size in $font-sizes {
    .fs-lg-#{$number} {
      font-size: $size !important;
    }
  }
}