<div class="swiper mySwiper bg-primary text-secondary lh-lg fw-bold font-serif">
  <div class="swiper-wrapper fs-md-5 fs-lg-2" style="transition-timing-function: linear;
  ">
    <div class="swiper-slide w-auto py-3 py-lg-4">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
    <div class="swiper-slide w-auto py-3 py-lg-4">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
    <div class="swiper-slide w-auto py-3 py-lg-4">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
    <div class="swiper-slide w-auto py-3 py-lg-4">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
    <div class="swiper-slide w-auto py-3 py-lg-4">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
  </div>
</div>