// input color
input::placeholder {
  color: $gray-700;
  font-family: "Noto Sans TC", var(--bs-font-sans-serif);
}

// RWD
@include pad {
  .form-control {
    padding: 14px 24px !important;
  }
}

// icon
.icofont-ui-file:before {
  margin-right: 4px;
}