.page-item {
  margin: 0 4px;
  &:first-child,&:last-child {
    a {
      line-height: 1;
      font-size: 18px;
      padding: 10.5px;
    }
  }
  .page-link {
    line-height: $line-height-lg;
  }
}