.index-banner img {
  height: 350px;
  @include pad {
    height: auto;
  }
  @include wed {
    height: 518px;
  }
}
.index-nav{
  img {
    width: 40px;
    @include wed {
      width: 80px;
    }
  }
  .nav-item:last-child a {
    line-height: 1.33;
    @include wed {
      line-height: 1.25;
    }
  }
}
.online-img {
  background: url(../images/event/online.jpg);
  width: 100%;
  min-height: 158px !important;
  background-size: cover;
  background-position: 0% 30%;
  @include pad {
    height: 255px;
  }
  @include wed {
    height: 100%;
  }
}