<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- top -->
    <div class="pt-3 pt-md-6 border-top border-3">
      <div class="container">
        <div class="title-bar mb-8 mb-lg-6">
          <h2 class="fw-normal fs-4 fs-md-2 lh-sm">
            EVENT<span class="font-serif fs-6 fs-md-5 fs-lg-2 fw-bold lh-lg">所有活動</span>
          </h2>
        </div>
        <nav class="mb-6">
          <a href="#" class="category-label">演出</a>
          <a href="#" class="category-label">音樂</a>
          <a href="#" class="category-label">舞蹈</a>
          <a href="#" class="category-label">戲劇</a>
          <a href="#" class="category-label">音樂會</a>
          <a href="#" class="category-label">課程講座</a>
          <a href="#" class="category-label">社群活動</a>
          <a href="#" class="category-label">展覽</a>
          <a href="#" class="category-label">研討會</a>
          <a href="#" class="category-label">電影</a>
          <a href="#" class="category-label">電音派對</a>
          <a href="#" class="category-label">遊戲競賽</a>
          <a href="#" class="category-label">親子</a>
          <a href="#" class="category-label">藝文活動</a>
          <a href="#" class="category-label">運動</a>
          <a href="#" class="category-label">交通旅遊</a>
          <a href="#" class="category-label">美食</a>
          <a href="#" class="category-label">資訊科技</a>
          <a href="#" class="category-label">聯誼</a>
          <a href="#" class="category-label">戶外</a>
          <a href="#" class="category-label">線上活動</a>
        </nav>
        <p>測試</p>
      </div>
    </div>
    <!-- content -->
    <div class="container mb-6 mb-md-5 pb-md-8">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 gy-md-5">
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">19 MAY 2023</small>
            <img src="../assets/images/event/01.jpg" class="card-img-top" alt="event01">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">邪典電影派對——房間</h3>
              <p class="card-text">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">社群活動</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">23 MAY 2023</small>
            <img src="../assets/images/event/02.jpg" class="card-img-top" alt="event02">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">怪舞俱樂部</h3>
              <p class="card-text">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">演出</small></a>
              <a href="activity.html" class="ms-auto"><span></span>檢視活動</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">30 MAY 2023</small>
            <img src="../assets/images/event/03.jpg" class="card-img-top" alt="event03">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">哈利波特馬拉松</h3>
              <p class="card-text">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">聯誼</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">12 June 2023</small>
            <img src="../assets/images/event/04.jpg" class="card-img-top" alt="event04">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">皮卡丘排球大賽</h3>
              <p class="card-text">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">遊戲競賽</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">25 June 2023</small>
            <img src="../assets/images/event/05.jpg" class="card-img-top" alt="event05">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">酒精路跑</h3>
              <p class="card-text">對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">演出</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">19 MAY 2023</small>
            <img src="../assets/images/event/06.jpg" class="card-img-top" alt="event06">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">野營發呆大賽</h3>
              <p class="card-text">你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">遊戲競賽</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">19 MAY 2023</small>
            <img src="../assets/images/event/07.jpg" class="card-img-top" alt="event07">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">野營音樂祭</h3>
              <p class="card-text">喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">演出</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">19 MAY 2023</small>
            <img src="../assets/images/event/08.jpg" class="card-img-top" alt="event08">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">疊疊樂大賽</h3>
              <p class="card-text">來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">遊戲競賽</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">18 MAY 2023</small>
            <img src="../assets/images/event/09.jpg" class="card-img-top" alt="event09">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">返老還童-制服聯誼</h3>
              <p class="card-text">由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">聯誼</small></a>
              <a href="activity.html" class="ms-auto"><span></span>檢視活動</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">19 MAY 2023</small>
            <img src="../assets/images/event/10.jpg" class="card-img-top" alt="event10">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">野外求生17天</h3>
              <p class="card-text">野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">戶外</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">19 MAY 2023</small>
            <img src="../assets/images/event/12.jpg" class="card-img-top" alt="event12">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">耳熟能詳音樂祭</h3>
              <p class="card-text">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">社群活動</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <small class="fs-2 fs-xl-1 lh-sm border-bottom border-3 pb-1">9 July 2023</small>
            <img src="../assets/images/event/06.jpg" class="card-img-top" alt="event06">
            <div class="card-body border-bottom border-2">
              <h3 class="card-title font-serif fs-7 fs-md-4 lh-lg">展覽——我的房間</h3>
              <p class="card-text">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
            </div>
            <div class="card-footer d-flex border-bottom border-2 fw-bold">
              <a href="#"><small class="fs-6 lh-lg">展覽</small></a>
              <a href="activity.html" class="ms-auto"><span></span>開賣中</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
