<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="border-top border-3 border-primary">
      <div class="container py-3">
        <div class="index-banner card bg-dark text-white">
          <img src="../assets/images/event/13.jpg" class="card-img p-0" alt="banner">
          <div class="card-img-overlay d-flex flex-column justify-content-between pt-3 pb-4">
            <p class="fs-2">19 MAY <br class="d-md-none">2023</p>
            <div class="text-center">
              <h3 class="font-serif fs-7 fw-bold lh-lg">隔牆有耳-沒有草東的派對</h3>
              <p class="d-none d-md-block mt-3">
                <span class="d-none d-lg-block">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br></span>
                帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="title-bar">
      <h2>RECENT<span>近期活動</span></h2>
    </div>
    <%- include('./layout/marquee'); -%>
    <div class="py-4"></div>
    <%- include('./layout/marquee'); -%>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
